.container {
    display : flex;
    gap     : var(--offset-small);

    .block {
        padding     : var(--offset-medium);
        align-items : center;
    }

    .content {
        width : 100%;
    }
}