@import "styles/palette";
@import "styles/sizes";
@import "styles/animation";
@import "styles/offset";

* {
    margin      : 0;
    padding     : 0;
    box-sizing  : border-box;
    font-family : "Lunasima", serif;
    line-height : 1.2em;
}